* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0c1022;
    color: #fff;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(17, 22, 49, 0.5);
    border-bottom: 1px solid #04060c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.navbar .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: rgb(231, 50, 50);
}

.hero .content {
    padding: 10rem;
    margin: 0;
    max-width: 55rem;
}


.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px #04060c;
    line-height: 1.1;
}

.hero .content h1 span {
    color: rgb(47, 74, 191);
}

.hero .content p {
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 100;
}

/* About Section */
#about {
    padding: 100px 0;
    margin-bottom: 70px;
}

.about-me {
    display: flex;
    max-width: 95%;
    margin: 50px auto;
    width: 1130px;
    align-items: center;
    justify-content: space-around;
}

.about-me img {
    width: 560px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    width: 560px;
}

.about-text h2 {
    color: #fff;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(47, 74, 191);
}

.about-text h2 span,
#hobi h1 span {
    color: rgb(47, 74, 191);
}

.about-text h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fff;
    font-size: 15px;
}

/* Hobi Section */
#hobi {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    padding: 150px 0;
    margin-bottom: 95px;
    color: #fff;
}

#hobi .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#hobi .gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: tranform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#hobi .gallery img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/* Contac Section */
#contac {
    padding: 10rem;
    margin: 0;
    background-color: #222;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

form input[type="radio"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

form p {
    color: #fff;
    margin-bottom: 10px;
}

form div {
    margin-top: 20px;
}

form div p {
    margin: 5px 0;
}

/* Tampilan untuk perangkat mobile */
@media only screen and (max-width: 768px) {
    .navbar .navbar-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px; 
        left: 0;
        width: 100%;
        background-color: rgba(17, 22, 49, 0.5); 
        padding: 20px 0;
    }

    .navbar .navbar-nav.active {
        display: flex;
    }

    .navbar .navbar-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
        margin: 10px 0;
    }


    #hambuger-menu {
        display: block;
    }

    #hambuger-menu i {
        fill: #fff;
        width: 24px;
        height: 24px;
    }

    #hobi .gallery {
        grid-template-columns: 1fr;
    }

    #contac form {
        max-width: 100%;
    }
    
    .navbar .logo {
        font-size: 20px;
    }

    .hero .content {
        padding: 5rem;
        max-width: 100%;
    }

    .about-me {
        flex-direction: column;
        width: 100%;
    }

    .about-me img {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .about-text {
        width: 100%;
    }

    .about-text h2 {
        font-size: 40px;
    }

    #hobi .gallery img {
        max-width: 200px;
    }

    #contac form {
        max-width: 100%;
    }
}

/* Tampilan untuk perangkat desktop */
@media only screen and (min-width: 769px) {
    .navbar .navbar-nav {
        display: flex;
    }

    #hambuger-menu {
        display: none;
    }

    .navbar .logo {
        font-size: 25px;
    }

    .hero .content {
        padding: 10rem;
        max-width: 55rem;
    }

    .about-me {
        width: 1130px;
    }

    .about-me img {
        width: 560px;
        max-width: 100%;
        margin-bottom: 0;
    }

    .about-text h2 {
        font-size: 60px;
    }


    #hobi .gallery img {
        max-width: 250px;
    }

}